openapi: 3.0.4
info:
  title: HMAC Generator
  description: HMAC Generator creates Hash-based Message Authentication Codes for data integrity and authentication. Supports SHA-256, SHA-384, SHA-512, SHA-1, and MD5 algorithms.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/hmac:
    post:
      summary: Generate HMAC
      description: HMAC Generator creates Hash-based Message Authentication Codes for data integrity and authentication. Supports SHA-256, SHA-384, SHA-512, SHA-1, and MD5 algorithms.
      operationId: hmac
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  hmac: 2cd7c25025198d4458002ceb064ad37ccfbbe46650876d693f5e080bd954e449
                  algorithm: sha256
                  encoding: hex
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The message to sign
                  example: Hello World
                secret:
                  type: string
                  description: The secret key for HMAC generation
                  example: my-secret-key
                algorithm:
                  type: string
                  description: 'Hash algorithm: sha256, sha384, sha512, sha1, md5'
                  default: sha256
                  example: sha256
                encoding:
                  type: string
                  description: 'Output encoding: hex or base64'
                  default: hex
                  example: hex
              required:
              - message
              - secret
              example:
                message: Hello World
                secret: my-secret-key
                algorithm: sha256
                encoding: hex
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
